* {
    margin: 0%;
    padding: 0%;
}
@font-face {
    font-family: "Mochi";
    src: url(EgoshicRegular-0vvld.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Lyrics";
    src: url(Grip-p7WZv.otf) format("opentype");
    font-style: normal;
    font-weight: normal;
}

body {
    background-image: url("Pelikula\ bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    
}

.background {
    background-color: rgba(0, 0, 0, 0.5);
    
}

p {
    font-size: 20px;
    color: white;
    font-family: Lyrics;

}

#Resize {
    width: 50%;
    height: auto;
    position: relative;
}  

#Resize {
    position: sticky;
    top: 0;
}

h1 {
    font-family: Mochi;
    padding: 2%;
    color: white;
}
