body {
    background-image: url(Pelikula\ bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

p {
    font-size: 20px;
}

.lyrics-title {
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 248, 225, 0.918);
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(222, 238, 233, 0.356);
    overflow: hidden;
}

.lyrics {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(63, 95, 238, 0.2);
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#Resize {
    width: 50%;
    height: auto;
}